In [212]:
import pandas as pd
tweets=pd.read_csv(r"C:\data\data science\Study material\Machine learning classifiers (Naive bayes)\Datasets_Naive Bayes\Disaster_tweets_NB.csv",encoding = "ISO-8859-1")

In [213]:
tweets

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [186]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [187]:
duplicates=tweets.duplicated()
sum(duplicates)

0

In [191]:
#cleaning data
import re
stop_words=[]
#loading the custom build stop words
with open("C:\data\data science\Study material\Text Mining and sentiment analysis\Datasets NLP\stopwords_en.txt") as sw:
    stop_words=sw.read()

In [193]:
stop_words=stop_words.split('\n')

In [208]:
def cleaning_text(i):
    i = re.sub("[^A-Za-z" "]+"," ",i).lower()
    i = re.sub("[0-9" "]+"," ",i)
    w = []
    for word in i.split(" "):
        if len(word)>3:
            w.append(word)
    return (" ".join(w))

In [209]:
cleaning_text("Hope you are having a good week. Just checking in")

'hope having good week just checking'

In [210]:
tweets.text=tweets.text.apply(cleaning_text)

In [211]:
tweets

,id,keyword,location,text,target
0,1,NaN,NaN,deeds reason this earthquake allah forgive,1
1,4,NaN,NaN,forest fire near ronge sask canada,1
2,5,NaN,NaN,residents asked shelter place being notified o...,1
3,6,NaN,NaN,people receive wildfires evacuation orders cal...,1
4,7,NaN,NaN,just sent this photo from ruby alaska smoke fr...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,giant cranes holding bridge collapse into near...,1
7609,10870,NaN,NaN,aria ahrary thetawniest control wild fires cal...,1
7610,10871,NaN,NaN,volcano hawaii http zdtoyd,1
7611,10872,NaN,NaN,police investigating after bike collided with ...,1
7612,10873,NaN,NaN,latest more homes razed northern california wi...,1

In [219]:
#removing empty rows
tweets = tweets.loc[tweets.text != " ",:]
tweets

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [217]:
tweets.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [224]:
newtweets=tweets.dropna()

In [225]:
newtweets.isna().sum()

id          0
keyword     0
location    0
text        0
target      0
dtype: int64

In [226]:
# CountVectorizer
# Convert a collection of text documents to a matrix of token counts

In [227]:
#splitting data into test and train sets
from sklearn.model_selection import train_test_split

In [229]:
tweets_train,tweets_test=train_test_split(newtweets,test_size=0.2)

In [230]:
#creating a matrixof token counts for the entire text doc.
def split_into_words (i):
    return [word for word in i.split(" ")]

In [232]:
# Defining the preparation of tweets texts into word count matrix format - Bag of Words
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
tweets_bow = CountVectorizer(analyzer = split_into_words).fit(newtweets.text)

In [235]:
#defining bow for all text messages
all_newtweets=tweets_bow.transform(newtweets.text)

In [236]:
# For training messages
train_tweets_matrix = tweets_bow.transform(tweets_train.text)

In [237]:
# For testing messages
test_tweets_matrix = tweets_bow.transform(tweets_test.text)

In [238]:
# Learning Term weighting and normalizing on entire emails
tfidf_transformer = TfidfTransformer().fit(all_newtweets)

In [239]:
# Preparing TFIDF for train emails
train_tfidf = tfidf_transformer.transform(train_tweets_matrix)
train_tfidf.shape # (row, column)

(4064, 23937)

In [240]:
# Preparing TFIDF for test emails
test_tfidf = tfidf_transformer.transform(test_tweets_matrix)
test_tfidf.shape #  (row, column)

(1016, 23937)

In [241]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB

In [246]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(train_tfidf, tweets_train.target)

MultinomialNB()

In [247]:
# Evaluation on Test Data
test_pred_m = classifier_mb.predict(test_tfidf)
accuracy_test_m = np.mean(test_pred_m == tweets_test.target)
accuracy_test_m

0.7736220472440944

In [249]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_m, tweets_test.target)

0.7736220472440944

In [251]:
pd.crosstab(test_pred_m, tweets_test.target)

target    0    1
row_0
0       548  200
1        30  238

In [253]:
# Training Data accuracy
train_pred_m = classifier_mb.predict(train_tfidf)
accuracy_train_m = np.mean(train_pred_m == tweets_train.target)
accuracy_train_m

# Multinomial Naive Bayes changing default alpha for laplace smoothing
# if alpha = 0 then no smoothing is applied and the default alpha parameter is 1
# the smoothing process mainly solves the emergence of zero probability problem in the dataset.

0.9124015748031497

In [255]:
classifier_mb_lap = MB(alpha = 3)
classifier_mb_lap.fit(train_tfidf, tweets_train.target)

MultinomialNB(alpha=3)

In [257]:
# Evaluation on Test Data after applying laplace
test_pred_lap = classifier_mb_lap.predict(test_tfidf)
accuracy_test_lap = np.mean(test_pred_lap == tweets_test.target)
accuracy_test_lap

0.7273622047244095

In [259]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_lap, tweets_test.target)

0.7273622047244095

In [261]:
pd.crosstab(test_pred_lap, tweets_test.target)

# Training Data accuracy
train_pred_lap = classifier_mb_lap.predict(train_tfidf)
accuracy_train_lap = np.mean(train_pred_lap == tweets_train.target)
accuracy_train_lap

0.8368602362204725