In [125]:
import pandas as pd
car=pd.read_csv(r"C:\data\data science\Study material\Machine learning classifiers (Naive bayes)\Datasets_Naive Bayes\NB_Car_Ad.csv",encoding = "ISO-8859-1")

In [126]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [129]:
from sklearn.preprocessing import LabelEncoder  # for Ordinal data columns
le=LabelEncoder()
dfle=car
car['Gender']=le.fit_transform(car.Gender)
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(5)
memory usage: 15.8 KB

In [130]:
car.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [131]:
car.duplicated()
sum(duplicate)

3258

In [132]:
new_car=car.drop_duplicates()#removing duplicated items

In [133]:
new_car.duplicated()
sum(duplicate1)

0

In [137]:
# splitting data into train and test data sets 
from sklearn.model_selection import train_test_split

new_car_train, new_car_test = train_test_split(new_car, test_size = 0.2)

In [134]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB

In [138]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(new_car_train,new_car_train.Purchased)

MultinomialNB()

In [139]:
#evaluation on test data
import numpy as np
test_pred=classifier_mb.predict(new_car_test)
accuracy_test=np.mean(test_pred==new_car_test.Purchased)
accuracy_test

0.725

In [140]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred, new_car_test.Purchased)

0.725

In [141]:
pd.crosstab(test_pred,new_car_test.Purchased)

Purchased   0   1
row_0
0          37   7
1          15  21

In [142]:
#training the data accuracy
train_pred=classifier_mb.predict(new_car_train)
accuracy_train=np.mean(train_pred==new_car_train.Purchased)
accuracy_train

0.628125

In [115]:
# Multinomial Naive Bayes changing default alpha for laplace smoothing
# if alpha = 0 then no smoothing is applied and the default alpha parameter is 1
# the smoothing process mainly solves the emergence of zero probability problem in the dataset.

In [143]:
classifier_mb_lap = MB(alpha = 3)
classifier_mb_lap.fit(new_car_train, new_car_train.Purchased)

MultinomialNB(alpha=3)

In [144]:
# Evaluation on Test Data after applying laplace
test_pred_lap = classifier_mb_lap.predict(new_car_test)
accuracy_test_lap = np.mean(test_pred_lap == new_car_test.Purchased)
accuracy_test_lap

0.725

In [148]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_lap,new_car_test.Purchased)

0.725

In [149]:
pd.crosstab(test_pred_lap,new_car_test.Purchased)

Purchased   0   1
row_0
0          37   7
1          15  21

In [150]:
#training data accuracy
train_pred_lap=classifier_mb_lap.predict(new_car_train)
accuracy_train_lap=np.mean(train_pred_lap==new_car_train.Purchased)
accuracy_train_lap

0.628125