In [89]:
import pandas as pd
salary_test=pd.read_csv(r"C:\data\data science\Study material\Machine learning classifiers (Naive bayes)\Datasets_Naive Bayes\SalaryData_Test.csv",encoding = "ISO-8859-1")
salary_train=pd.read_csv(r"C:\data\data science\Study material\Machine learning classifiers (Naive bayes)\Datasets_Naive Bayes\SalaryData_Train.csv",encoding = "ISO-8859-1")

In [90]:
salary_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [91]:
salary_test.isna().sum()
salary_train.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [92]:
duplicate = salary_test.duplicated()
duplicate
sum(duplicate)

930

In [93]:
duplicate = salary_train.duplicated()
duplicate
sum(duplicate)

3258

In [94]:
new_salary_test=salary_test.drop_duplicates()
new_salary_train=salary_train.drop_duplicates()#removing duplicated items

In [95]:
new_salary_test.duplicated()
sum(duplicate1)

0

In [96]:
new_salary_train.duplicated()
sum(duplicate1)

0

In [97]:
#new_salary_test1=pd.get_dummies(new_salary_test)#creating dummies for nominal data
#new_salary_train1=pd.get_dummies(new_salary_train)#creating dummies for nominal data 
#new_salary_test1,new_salary_train1

In [98]:
new_salary_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26903 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            26903 non-null  int64
 1   workclass      26903 non-null  object
 2   education      26903 non-null  object
 3   educationno    26903 non-null  int64
 4   maritalstatus  26903 non-null  object
 5   occupation     26903 non-null  object
 6   relationship   26903 non-null  object
 7   race           26903 non-null  object
 8   sex            26903 non-null  object
 9   capitalgain    26903 non-null  int64
 10  capitalloss    26903 non-null  int64
 11  hoursperweek   26903 non-null  int64
 12  native         26903 non-null  object
 13  Salary         26903 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.1+ MB

In [100]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB

In [101]:
from sklearn.preprocessing import LabelEncoder  # for Ordinal data columns
le=LabelEncoder()
dfle=new_salary_train
new_salary_train['workclass']=le.fit_transform(new_salary_train.workclass)
new_salary_train['education']=le.fit_transform(new_salary_train.education)
new_salary_train['maritalstatus']=le.fit_transform(new_salary_train.maritalstatus)
new_salary_train['occupation']=le.fit_transform(new_salary_train.occupation)
new_salary_train['relationship']=le.fit_transform(new_salary_train.relationship)
new_salary_train['race']=le.fit_transform(new_salary_train.race)
new_salary_train['sex']=le.fit_transform(new_salary_train.sex)
new_salary_train['native']=le.fit_transform(new_salary_train.native)
new_salary_train['Salary']=le.fit_transform(new_salary_train.Salary)

<ipython-input-101-ccc850a95ad1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['workclass']=le.fit_transform(new_salary_train.workclass)
<ipython-input-101-ccc850a95ad1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['education']=le.fit_transform(new_salary_train.education)
<ipython-input-101-ccc850a95ad1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['maritalstatus']=le.fit_transform(new_salary_train.maritalstatus)
<ipython-input-101-ccc850a95ad1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['occupation']=le.fit_transform(new_salary_train.occupation)
<ipython-input-101-ccc850a95ad1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['relationship']=le.fit_transform(new_salary_train.relationship)
<ipython-input-101-ccc850a95ad1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['race']=le.fit_transform(new_salary_train.race)
<ipython-input-101-ccc850a95ad1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['sex']=le.fit_transform(new_salary_train.sex)
<ipython-input-101-ccc850a95ad1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['native']=le.fit_transform(new_salary_train.native)
<ipython-input-101-ccc850a95ad1>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_train['Salary']=le.fit_transform(new_salary_train.Salary)

In [103]:
from sklearn.preprocessing import LabelEncoder  # for Ordinal data columns
le=LabelEncoder()
dfle=new_salary_train
new_salary_test['workclass']=le.fit_transform(new_salary_test.workclass)
new_salary_test['education']=le.fit_transform(new_salary_test.education)
new_salary_test['maritalstatus']=le.fit_transform(new_salary_test.maritalstatus)
new_salary_test['occupation']=le.fit_transform(new_salary_test.occupation)
new_salary_test['relationship']=le.fit_transform(new_salary_test.relationship)
new_salary_test['race']=le.fit_transform(new_salary_test.race)
new_salary_test['sex']=le.fit_transform(new_salary_test.sex)
new_salary_test['native']=le.fit_transform(new_salary_test.native)
new_salary_test['Salary']=le.fit_transform(new_salary_test.Salary)

<ipython-input-103-d449cd698fe7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['workclass']=le.fit_transform(new_salary_test.workclass)
<ipython-input-103-d449cd698fe7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['education']=le.fit_transform(new_salary_test.education)
<ipython-input-103-d449cd698fe7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['maritalstatus']=le.fit_transform(new_salary_test.maritalstatus)
<ipython-input-103-d449cd698fe7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['occupation']=le.fit_transform(new_salary_test.occupation)
<ipython-input-103-d449cd698fe7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['relationship']=le.fit_transform(new_salary_test.relationship)
<ipython-input-103-d449cd698fe7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['race']=le.fit_transform(new_salary_test.race)
<ipython-input-103-d449cd698fe7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['sex']=le.fit_transform(new_salary_test.sex)
<ipython-input-103-d449cd698fe7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['native']=le.fit_transform(new_salary_test.native)
<ipython-input-103-d449cd698fe7>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_salary_test['Salary']=le.fit_transform(new_salary_test.Salary)

In [104]:
new_salary_train.info()
new_salary_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26903 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            26903 non-null  int64
 1   workclass      26903 non-null  int32
 2   education      26903 non-null  int32
 3   educationno    26903 non-null  int64
 4   maritalstatus  26903 non-null  int32
 5   occupation     26903 non-null  int32
 6   relationship   26903 non-null  int32
 7   race           26903 non-null  int32
 8   sex            26903 non-null  int32
 9   capitalgain    26903 non-null  int64
 10  capitalloss    26903 non-null  int64
 11  hoursperweek   26903 non-null  int64
 12  native         26903 non-null  int32
 13  Salary         26903 non-null  int32
dtypes: int32(9), int64(5)
memory usage: 2.2 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 14130 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            14130 non-null  int64
 1   workclass      14130 non-null  int32
 2   education      14130 non-null  int32
 3   educationno    14130 non-null  int64
 4   maritalstatus  14130 non-null  int32
 5   occupation     14130 non-null  int32
 6   relationship   14130 non-null  int32
 7   race           14130 non-null  int32
 8   sex            14130 non-null  int32
 9   capitalgain    14130 non-null  int64
 10  capitalloss    14130 non-null  int64
 11  hoursperweek   14130 non-null  int64
 12  native         14130 non-null  int32
 13  Salary         14130 non-null  int32
dtypes: int32(9), int64(5)
memory usage: 1.1 MB

In [106]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(new_salary_train,new_salary_train.Salary)

MultinomialNB()

In [109]:
#evaluation on test data
import numpy as np
test_pred=classifier_mb.predict(new_salary_test)
accuracy_test=np.mean(test_pred==new_salary_test.Salary)
accuracy_test

0.7733899504600141

In [110]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred, new_salary_test.Salary)

0.7733899504600141

In [112]:
pd.crosstab(test_pred,new_salary_test.Salary)

Salary      0     1
row_0
0       10151  2733
1         469   777

In [113]:
#training the data accuracy
train_pred=classifier_mb.predict(new_salary_train)
accuracy_train=np.mean(train_pred==new_salary_train.Salary)
accuracy_train

0.7683158012117608

In [115]:
# Multinomial Naive Bayes changing default alpha for laplace smoothing
# if alpha = 0 then no smoothing is applied and the default alpha parameter is 1
# the smoothing process mainly solves the emergence of zero probability problem in the dataset.

In [116]:
classifier_mb_lap = MB(alpha = 3)
classifier_mb_lap.fit(new_salary_train, new_salary_train.Salary)

MultinomialNB(alpha=3)

In [117]:
# Evaluation on Test Data after applying laplace
test_pred_lap = classifier_mb_lap.predict(new_salary_test)
accuracy_test_lap = np.mean(test_pred_lap == new_salary_test.Salary)
accuracy_test_lap

0.7733899504600141

In [118]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_lap,new_salary_test.Salary)

0.7733899504600141

In [119]:
pd.crosstab(test_pred_lap,new_salary_test.Salary)

Salary      0     1
row_0
0       10151  2733
1         469   777

In [121]:
#training data accuracy
train_pred_lap=classifier_mb_lap.predict(new_salary_train)
accuracy_train_lap=np.mean(train_pred_lap==new_salary_train.Salary)
accuracy_train_lap

0.7683158012117608